<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">

	<update id="insertBoard" >
		insert into board (bno, title, content, writer)
		values(#{bno}, #{title},#{content}, #{writer})
	</update>

	<select id="selectBoardByBno" resultType="board">
		select
		bno, title,
		content, writer, regdate, viewcnt
		from
		board
		where bno = #{bno}
	</select>

	<update id="updateBoard">
		update board set title =#{title}, content =#{content}
		where bno = #{bno}
	</update>

	<update id="deleteBoard">
		delete from board where bno = #{bno}
	</update>

	<select id="selectBoardList" resultType="board">
 <![CDATA[
 	select 
   	bno, title, content, writer, regdate, viewcnt 
 	from board 
 	where bno > 0 
 	order by bno desc, regdate desc
 ]]>
	</select>

	<select id="getPage" resultType="board">
 <![CDATA[
 select 
   bno, title, content, writer, regdate, viewcnt 
 from 
   board 
 where bno > 0 
 order by bno desc, regdate desc
 limit #{page}, 10
 ]]>
	</select>

	<select id="selectCriteria" resultType="board">
 <![CDATA[
 select 
   bno, title, content, writer, regdate, viewcnt 
 from 
   board 
 where bno > 0 
 order by bno desc, regdate desc
 
 ]]>
	</select>



	<select id="selectCountPaging" resultType="int">
 <![CDATA[
 select 
   count(bno) 
 from 
   board 
 where 
   bno > 0 
 ]]>
	</select>



	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR writer
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%')
				OR
				content
				like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%',
				#{keyword}, '%'))
			</if>
		</if>
	</sql>

	<select id="selectSearchBoardList" resultType="board">
	<![CDATA[ 
		select *
		from board
		where bno > 0
		order by bno desc
	]]>
	</select>

	<select id="selectSearchBoardCount" resultType="int">
<![CDATA[  
  select count(bno) 
  from board 
  where bno > 0 
]]>
		<include refid="search"></include>

	</select>

</mapper>
